[package]
name = "pysequoia"
version = "0.1.21"
edition = "2021"
description = "Python bindings for Sequoia PGP"
homepage = "https://github.com/wiktor-k/pysequoia"
repository = "https://github.com/wiktor-k/pysequoia"

# The crate is useless for Rust clients, it's mainly used via Python:
# https://pypi.org/project/pysequoia/
publish = false

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "pysequoia"
crate-type = ["cdylib"]

[dependencies]
anyhow = "1"
card-backend-pcsc = "0.5"
chrono = "0.4"
hex = "0.4.3"
once_cell = "1.18"
openpgp-card = "0.4.0"
openpgp-card-sequoia = { version = "0.2.0", default-features = false }
openpgp-cert-d = "0.1"
pyo3 = { version = "0.20", features = ["extension-module", "anyhow", "chrono"] }
sequoia-openpgp = { version = "1.17", default-features = false, features = ["compression"] }
testresult = "0.3"

[target.'cfg(target_os = "linux")'.dependencies]
sequoia-openpgp = { version = "1", default-features = false, features = ["crypto-nettle"] }

[target.'cfg(windows)'.dependencies]
sequoia-openpgp = { version = "1", default-features = false, features = ["crypto-cng"] }

[target.'cfg(not(any(target_os = "linux", windows)))'.dependencies]
sequoia-openpgp = { version = "1", default-features = false, features = [ "crypto-rust", "allow-experimental-crypto", "allow-variable-time-crypto"] }
